{% extends '::layout/layout.html.twig' %}
{% block body %}

    <aside>
        <h2>Choisissez une ville </h2>
        {# charger les villes  #}

    </aside>
    <section>
        <h2>Choisissez une catégorie</h2>
        {# charger les  catégories  #}
    </section>
{% endblock  body%}


